body {
  background-image: url(../public/img/wallpaperpokemon.webp);
}

.App {
  text-align: center;
}

.seachbox__pokemon--container {
  display: block;
  justify-content: center;
  width: 100%;
}

.seachbox__pokemon--form {
  padding: 10px;
}

.searchbox__pokemon--input {
  width: 50%;
  padding: 10px;
}

.searchbox__pokemon--button {
  display: block;
  margin: 10px;
  color: blue;
}

.PokeAPI__card--image {
  max-width: 250px;
  max-height: 300px;
  margin: 5px;
  border-radius: 3%;
  box-shadow: 5px 10px #e0e0e0;
}
